[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
opencv-python = "*"
django = "*"
pillow = "*"
dlib = "*"
face-detection = "*"

[dev-packages]
black = "*"
autopep8 = "*"
pep8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
