{% extends 'feed/index.html' %} {% block add %}
<style>
	.alert-box {
		padding: 5px;
		color: white;
		border-radius: 5px;
	}
	.success {
		background-color: #1eae98;
	}
	.error {
		background-color: #f55c47;
	}
</style>
<div class="row container shadow">
	<div class="form-side">
		<p class="form-title">Add Student To DataBase</p>

		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li class="{{ message.tags }} alert-box">{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		<form action="{% url 'student:addView' %}" method="post">
			<div class="form-group">
				<input
					type="text"
					name="name"
					placeholder="Enter the name"
					required
				/>
			</div>
			{% comment %} <br />
			{% endcomment %}
			<div class="form-group">
				<input
					type="text"
					name="roll"
					placeholder="Enter roll no"
					required
				/>
			</div>
			<div class="form-group btn-group">
				<button
					type="submit"
					class="btn btn-success btn-primary-shadow"
				>
					Submit
				</button>
			</div>
		</form>
	</div>
	<div class="image-side">
		<img src="{% url 'student:demoFeed' %}" alt="Live Image" />
	</div>
</div>

{% endblock add %}
